{% extends 'recipes/base.html' %}
{% load django_bootstrap5 %}

{% block page_header %}
<h1 class="text-primary text-center">Delete Recipe</h1>
{% endblock page_header %}

{% block content %}
<form method='post'>
{% csrf_token %}
<p>{{ recipe.title }}</p>
<p>{{ recipe.author }}</p>
<p>{{ recipe.description }}</p>
<p>{{recipe.ingredients}}</p>
<p>{{ recipe.date_created }}</p>
<p>{{ recipe.date_updated }}</p>

{% bootstrap_button button_type='submit' content='Delete' %}
</form>

{% endblock content %}